<div class="container" fxLayout="row" fxLayoutAlign="none center">
  <div class="mat-title mr-16 mb-8">
    Current Track
  </div>

  <button class="mb-8" mat-icon-button color="primary" (click)="toggleFilter()">
    <mat-icon *ngIf="!visible">expand_more</mat-icon>
    <mat-icon *ngIf="visible">expand_less</mat-icon>
  </button>
</div>
<div *ngIf="visible">
  <div class="container" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="none center">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [(ngModel)]="date" placeholder="Choose a date" (click)="picker.open()" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="TRACK CODE" [(ngModel)]="track" (selectionChange)="trackChanged($event)" (openedChange)="getTracks($event)">
        <mat-option [value]="tr" *ngFor="let tr of tracks">{{ tr }}</mat-option>
        <mat-option *ngIf="!loadingTracks && !tracks.length">No tracks</mat-option>
        <mat-option *ngIf="loadingTracks">
          <span fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner diameter="24"></mat-spinner>
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="RACE" [(ngModel)]="race" (selectionChange)="raceChanged($event)" (openedChange)="getRaces($event)">
        <mat-option [value]="r.race" *ngFor="let r of races">{{ r.race }}</mat-option>
        <mat-option *ngIf="!loadingRaces && !races.length">No races</mat-option>
        <mat-option *ngIf="loadingRaces">
          <span fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner diameter="24"></mat-spinner>
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="MTP" [value]="mtp" readonly/>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="BALANCE" [value]="data.balance | async" (change)="change($event)"/>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Bet Type" [(ngModel)]="betType">
        <mat-option value="manual">Manually</mat-option>
        <mat-option value="mtp">Based on MTP</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="container mb-16" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="none center">
    <button mat-raised-button color="primary" (click)="filter()">Filter</button>
    <button mat-raised-button color="primary" (click)="openUploadTypeSheet()">Upload</button>
  </div>
</div>
<div class="container mb-8" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="16px" *ngIf="currentRace">
    <div>
      <span class="mat-body-1">Date:&nbsp;&nbsp;</span>
      <span class="mat-body-2">{{ currentRace.date | date: 'mediumDate' }}</span>
    </div>
    <div>
      <span class="mat-body-1">Track:&nbsp;&nbsp;</span>
      <span class="mat-body-2">{{ currentRace.track }}</span>
    </div>
    <div>
      <span class="mat-body-1">Event:&nbsp;&nbsp;</span>
      <span class="mat-body-2">{{ currentRace.event }}</span>
    </div>
    <div>
      <span class="mat-body-1">Race:&nbsp;&nbsp;</span>
      <span class="mat-body-2">{{ currentRace.race }}</span>
    </div>
    <div>
      <span class="mat-body-1">Model:&nbsp;&nbsp;</span>
      <span class="mat-body-2">{{ data.model | async }}</span>
    </div>
    <div>
      <span class="mat-body-1">MTP:&nbsp;&nbsp;</span>
      <span class="mat-body-2">{{ currentRace.mtp }}</span>
    </div>
    <div>
      <span class="mat-body-1">Bet:&nbsp;&nbsp;</span>
      <span class="mat-body-2" *ngIf="betType === 'manual'">Manually</span>
      <span class="mat-body-2" *ngIf="betType === 'mtp'">Base on MTP</span>
    </div>
  </div>
  <div class="mat-subheading-1 mb-0" *ngIf="!currentRace">
    Please select a race.
  </div>
  <div>
    <span class="mat-subheading-1">Amount:&nbsp;&nbsp;</span>
    <span class="mat-subheading-2">{{ data.balance | async | currency }}</span>
  </div>
</div>
<div class="container" fxLayout="row" fxLayoutAlign="end start">
  <button class="mb-8" mat-raised-button color="primary" *ngIf="betType==='manual' && currentRace" (click)="bet()">Bet</button>
</div>
