<div class="container">
  <app-filter (onBet)="bet($event)"></app-filter>
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="pgm">
      <th mat-header-cell *matHeaderCellDef> PGM </th>
      <td mat-cell *matCellDef="let element"> {{element.pgm}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="horse">
      <th mat-header-cell *matHeaderCellDef> Horse </th>
      <td mat-cell *matCellDef="let element"> {{element.horse}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="odds">
      <th mat-header-cell *matHeaderCellDef> Odds </th>
      <td mat-cell *matCellDef="let element"> {{element.odds}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="winPool">
      <th mat-header-cell *matHeaderCellDef> Win Pool </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.odds!==null">{{element.poolAmount | currency}}</span>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="oddsDesc">
      <th mat-header-cell *matHeaderCellDef> Odds Desc </th>
      <td mat-cell *matCellDef="let element"> {{element.oddsDesc|number:'1.0-4'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="oddsAdj">
      <th mat-header-cell *matHeaderCellDef> Odds Adj </th>
      <td mat-cell *matCellDef="let element"> {{element.oddsAdj|number:'1.0-4'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let element"> {{element.rating|number:'1.0-3'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="probability">
      <th mat-header-cell *matHeaderCellDef> Probability </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.odds!=='SC' && element.odds!==null">{{element.probability|number:'1.0-1'}}%</span>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ev">
      <th mat-header-cell *matHeaderCellDef> Ev </th>
      <td mat-cell *matCellDef="let element"> {{element.ev|number:'1.0-2'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="edge">
      <th mat-header-cell *matHeaderCellDef> Edge </th>
      <td mat-cell *matCellDef="let element"> {{element.edge|number:'1.0-4'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="betSize">
      <th mat-header-cell *matHeaderCellDef> Bet Size </th>
      <td mat-cell *matCellDef="let element">
          <span *ngIf="element.odds!=='SC' && element.odds!==null">{{element.betSize|number: '1.0-3' }} %</span>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="bet">
      <th mat-header-cell *matHeaderCellDef> Bet </th>
      <td mat-cell *matCellDef="let element">{{ element.bet|currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="mat-subheading-1 text-center p-24" *ngIf="dataSource.length === 0">
    No records found
  </div>
</div>
