<div class="container">
  <p class="mat-display-4">Display 4</p>
  <p class="mat-display-3">Display 3</p>
  <p class="mat-display-2">Display 2</p>
  <p class="mat-display-1">Display 1</p>
  <h1 class="mat-headline">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <h2 class="mat-title">Title</h2>
  <h3 class="mat-subheading-2">Subheading 2</h3>
  <h4 class="mat-subheading-1">Subheading 1</h4>
  <p class="mat-body-1">Body 1</p>
  <p class="mat-body-2">Body 2</p>
  <p class="mat-caption">Caption</p>
  <div>
    <button mat-raised-button color="primary">Button</button>
  </div>
  <mat-form-field class="mt-20">
    <input matInput placeholder="Placeholder" value="Input">
  </mat-form-field>
  <div class="mt-20">
    <img src="assets/background.jpg" style="width: 120px"/><br>
  </div>
  <div class="mt-20">
    <i class="material-icons">add</i>
  </div>
</div>
