<div class="container">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="pgm">
      <th mat-header-cell *matHeaderCellDef> PGM </th>
      <td mat-cell *matCellDef="let element"> {{element.pgm}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="horse">
      <th mat-header-cell *matHeaderCellDef> Horse </th>
      <td mat-cell *matCellDef="let element"> {{element.horse}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="odds">
      <th mat-header-cell *matHeaderCellDef> Odds </th>
      <td mat-cell *matCellDef="let element"> {{element.odds}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="winPool">
      <th mat-header-cell *matHeaderCellDef> Win Pool </th>
      <td mat-cell *matCellDef="let element"> {{element.winPool}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="oddsDesc">
      <th mat-header-cell *matHeaderCellDef> Odds Desc </th>
      <td mat-cell *matCellDef="let element"> {{element.oddsDesc}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="oddsAdj">
      <th mat-header-cell *matHeaderCellDef> Odds Adj </th>
      <td mat-cell *matCellDef="let element"> {{element.oddsAdj}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="probability">
      <th mat-header-cell *matHeaderCellDef> Probability </th>
      <td mat-cell *matCellDef="let element"> {{element.probability}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ev">
      <th mat-header-cell *matHeaderCellDef> Ev </th>
      <td mat-cell *matCellDef="let element"> {{element.ev}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ep">
      <th mat-header-cell *matHeaderCellDef> Ep </th>
      <td mat-cell *matCellDef="let element"> {{element.ep}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="edge">
      <th mat-header-cell *matHeaderCellDef> Edge </th>
      <td mat-cell *matCellDef="let element"> {{element.edge}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="bet">
      <th mat-header-cell *matHeaderCellDef> Bet </th>
      <td mat-cell *matCellDef="let element"> {{element.bet}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
